# Set

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
# Note: the set list is unordered, meaning: the items will appear in a random order.

{'banana', 'cherry', 'apple'}

## Check if sth is in set

In [2]:
for x in thisset:
  print(x)

banana
cherry
apple

In [3]:
print("banana" in thisset)

True

## Add to set

In [4]:
thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

In [5]:
thisset.update(["pineapple", "mango", "grapes"])

print(thisset)

{'mango', 'grapes', 'apple', 'banana', 'cherry', 'pineapple', 'orange'}

In [6]:
print(len(thisset))

7

## Removing

In [7]:
thisset.remove("banana")

print(len(thisset))
print(thisset)

6
{'mango', 'grapes', 'apple', 'cherry', 'pineapple', 'orange'}

In [8]:
thisset.add('banana')
print(thisset)

thisset.discard('apple')
print(thisset)

{'mango', 'grapes', 'apple', 'banana', 'cherry', 'pineapple', 'orange'}
{'mango', 'grapes', 'banana', 'cherry', 'pineapple', 'orange'}

In [9]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x) #removed item

print(thisset) #the set after removal

#pop() remove only last item from set, so we don't know which one is that

banana
{'cherry', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [12]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Union of many sets

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 'c', 2, 'b', 3}

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 'c', 2, 'b', 3}

## Uset set() to make a set

In [15]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

$\textbf{add()}$ $\leftarrow$ Adds an element to the set 

$\textbf{clear()}$ $\leftarrow$ Removes all the elements from the set

$\textbf{copy()}$ $\leftarrow$ Returns a copy of the set

$\textbf{difference()}$ $\leftarrow$ Returns a set containing the difference between two or more sets

$\textbf{difference_update()}$ $\leftarrow$ Removes the items in this set that are also included in another, specified set

$\textbf{discard()}$ $\leftarrow$ Remove the specified item

$\textbf{intersection()}$ $\leftarrow$ Returns a set, that is the intersection of two other sets

$\textbf{intersection_update()}$ $\leftarrow$ Removes the items in this set that are not present in other, specified set(s)

$\textbf{isdisjoint()}$ $\leftarrow$ Returns whether two sets have a intersection or not

$\textbf{issubset()}$ $\leftarrow$ Returns whether another set contains this set or not

$\textbf{issuperset()}$ $\leftarrow$ Returns whether this set contains another set or not

$\textbf{pop()}$ $\leftarrow$ Removes an element from the set

$\textbf{remove()}$ $\leftarrow$ Removes the specified element

$\textbf{symmetric_difference()}$ $\leftarrow$ Returns a set with the symmetric differences of two sets

$\textbf{symmetric_difference_update()}$ $\leftarrow$ inserts the symmetric differences from this set and another

$\textbf{union()}$ $\leftarrow$ Return a set containing the union of sets

$\textbf{update()}$ $\leftarrow$ Update the set with the union of this set and others